<section class="contact-add">
  <div class="graph-modal">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="contact-add">
      <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
      <div class="graph-modal__content">
        <div class="container header__container">
          <img src="img/logo.svg" alt="Contacts Logo">
          <h1 class="header__title">
            Add contact
          </h1>
        </div>
        <div class="container">
          <form action="#" class="form" id="contactForm">
            <label class="form__label">
              <input type="text" name="Имя" class="input-reset form__input" id="nameField" placeholder="Имя">
            </label>
            <label class="form__label">
              <input type="text" name="Телефон" class="input-reset form__input" id="phoneField" placeholder="Телефон">
            </label>
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">Favorite</span>
            </label>
            <button class="btn-reset footer__link form__submit">Добавить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
